
.box1{
    height: 400px;
    width: 400px;
    background-color: aqua;
}

.box1 > button{
    background-color: green;
}


/* !  hover */

.box1 > button:hover{
  background-color: red;
}

.box1:hover{
    background-color: bisque;
}


/* ! active */

.box1 > button:active{
    background-color: blue;
}

/* !  nth child() */

.box2 > ul > li:nth-child(3){
    color:green;
}