*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:linear-gradient(to right, red,black);
    gap:20px;
}

.outer > h1{
    color:white;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.7);

}
.outer > .inner{
    height: 80vh;
    width: 80vw;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    padding: 30px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
    color:white;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.7);


}

.box{
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    transition: all 1.5s ease-in;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
    cursor: pointer;

    &:hover{
        background-position: center;
        transform: translateY(-10px);
    }

}

#box1{
    grid-row: span 2;
    background-image: url("https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
}

#box2{
    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    

   
}

#box3{
    background-image: url("https://images.pexels.com/photos/158028/bellingrath-gardens-alabama-landscape-scenic-158028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
     
}


#box4{
    grid-column: span 2;
    background-image: url("https://images.pexels.com/photos/462023/pexels-photo-462023.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#box5{
    background-image: url("https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
#box6{
    background-image: url("https://images.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
#box7{
    background-image: url("https://images.pexels.com/photos/414083/pexels-photo-414083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}