
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.outer > .inner{
    width: 80%;
    /* height: 400px; */
    background-color: white;
}

.inner > nav{
    height: 80px;
    background-color:aqua;
}

main{
    height: 350px;
    background-color: blueviolet;
    display: flex;
}

main > .left{
    border: 2px solid red;
    flex-basis: 50%;

}

main >.right{
    border: 2px solid black;
    flex-basis: 50%;
}

footer{
    height: 100px;
    background-color: bisque;
    display: flex;
}

footer > .footerLeft{
    border: 2px solid black;
    flex-basis: 40%;
}
footer > .footerRight{
    border: 2px solid red;
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}