
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
}

.box1{
    border: 2px solid red;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2{
    border: 2px solid black;
    flex-basis: 45%;
}