
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

.outer > .container1{
    height: 300px;
    width: 300px;
    border: 3px solid white;
}
.outer > .container2{
    height: 300px;
    width: 300px;
    border: 3px solid white;
}


.container1 > .box{
    height: 100px;
    width: 100px;
    border: 3px solid green;

    /* animation: moving 1s ease-in  infinite  alternate; */

    animation: cycle 1.5s ease-in infinite alternate ;
}


@keyframes moving {

    from{
            transform: translate(0,0);
    }
    to{
        transform: translate(200px,0);
    }
    
}


.container2 > .box{
    height: 100px;
    width: 100px;
    border: 3px solid red;
    animation: rotation 1.5s linear infinite;
}


@keyframes rotation {
    from{
        transform: rotate(0);
        background-color: red;
       
    }
    to{
        transform: rotate(360deg);
        background-color: white;
        
    }
}



@keyframes cycle {
    
    0%{
        transform: translate(0,0);
        background-color: red;
    }
    25%{
        transform: translate(200px,0);
        background-color: white;
    }
    50%{
        transform: translate(200px,200px);
        background-color: green;
    }
    75%{
        transform: translate(0,200px);
        background-color: blue;
    }
}



.outer1{
    height: 100vh;
    background: linear-gradient(to right, red,yellow);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container3{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 > .box{
    height: 100px;
    width: 100px;
    border-top: 3px solid green;
    animation:circle_rotate 2s linear infinite ;
    border-radius: 50%;
}



@keyframes circle_rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


.container4{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    border-radius: 50%;
    animation:circle_rotate 2s linear infinite ;
}

.container4 > .box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    

}

.container5{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.container5 > .dot{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    animation: up_down 2s ease-in infinite alternate;
}

#dot1{
    background-color: green;
    
}
#dot2{
    background-color: red;
    animation-delay: 0.1s;
}
#dot3{
    background-color: blue;
    animation-delay: 0.2s;
}
#dot4{
    background-color: black;
    animation-delay: 0.3s;
}

@keyframes up_down {
    from{
        transform: translateY(-60px);
    }
    to{
        transform: translateY(60px);
    }
}